{% extends 'index.html' %} {% load static %} {% block content %}
<!-- start of single item -->
<p id="currentSeason"></p>

<div class="container" style="margin-top: 70px; min-height: 700px">
  {% if user.is_authenticated %}
  <div class="row">
    <div class="col-12">
      <div class="card cartCard">
        <div class="row">
          <div class="col-12">
            <div class="card mb-3 cartCard">
              <div class="card-body">
                <!-- start of the change password section -->
                <div class="tabcontent passFont" id="changePassword">
                  <form method="post">
                    {% csrf_token %} 
                    {{ form.as_p }}
                    <input type="submit" value="Change my password" class="default" />
                  </form>
                </div>
                <!-- end of the change password section -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  {% else %}
  <a href="{% url 'login_user' %}" style="text-align: center; text-decoration: none">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col">
        <div class="card">
          <h2>You need to log in</h2>
        </div>
      </div>
    </div>
  </a>
  {% endif %}
</div>

<!-- end of single item -->
{% endblock %}
