* {
  margin: 0;
  padding: 0;
}
.padd {
  padding: 0 40px !important;
}
.margBot {
  margin-bottom: 60px !important;
}

.aw-40 {
  width: 40px;
}

.aw-60 {
  width: 60px;
}

.aw-70 {
  width: 70px;
}

.aw-90 {
  width: 90px;
}

.aw-100 {
  width: 100px;
}

.aw-110 {
  width: 110px;
}

.aw-120 {
  width: 120px;
}

.aw-170 {
  width: 170px;
}

.aw-550 {
  width: 550px;
}
/* start of the Coctail recepies */
#cRecepies {
  height: 230px;
}

#cRecepies * {
  margin: 15px;
}

#cRecepies p {
  word-wrap: break-word;
  width: 430px;
}

.linkStyle:hover {
  color: black;
}

.linkStyle {
  display: inline-block;
  text-decoration: none;
  position: relative;
  color: #030303;
  width: 100%;
}

.linkStyle:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #000000;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.linkStyle:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.linkStyle2 {
  display: inline-block;
  text-decoration: none;
  position: relative;
  color: white;
  width: 100%;
}

.linkStyle2:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: white;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.linkStyle2:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
/* end of the cocktail recepies */
/* start of the owl carousel of random items */
.owlDiv {
  height: 480px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 4px;
}

.owlDiv img,
.articles img {
  object-fit: cover;
  height: 480px;
  width: 100%;
}
/* end of the owl carousel of random items */
/* start of the food section */
.foodCard {
  height: 640px;
  object-fit: cover;
}
/* end of the food section */
/* start of the book section */
.bookImg {
  height: 600px;
}

.bookImg img {
  height: 100%;
}

.bookDesc > div {
  margin-bottom: 60px;
}

.bookDesc p {
  padding-right: 60px;
}

.bookDesc > div > * {
  margin: 30px;
}
/* end of the book section */
/* start of the alcohol free section */
.alcoholFreeInfo,
.alcoholFreeImg {
  height: 700px;
  padding: 0 !important;
}

.alcoholFreeImg img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.alcoholFreeInfo {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: rgb(59, 78, 76);
  color: white;
}

.afiSpace {
  margin: 15px 35px;
}

.afiSpace a {
  color: white;
}

.afiSpace a:hover {
  color: white;
}

.alcoholFreeInfo1 {
  margin-top: 50px;
}

.alcoholFreeInfo1 hr {
  padding-right: 200%;
  height: 2px;
  border: none;
  background-color: rgb(255, 255, 255);
  opacity: 0.9 !important;
}

.alcoholFreeInfo2 {
  margin-bottom: 50px;
}
/* end of the alcohol free section */
/* start of the article section */
.articles > * {
  margin-bottom: 15px;
}

.articles h5 {
  margin-bottom: 50px;
}

.articles img {
  object-fit: cover;
  height: 400px;
  width: 100%;
}

.articles hr {
  background-color: rgb(0, 0, 0) !important;
  color: rgb(0, 0, 0) !important;
  border: solid 1px rgb(0, 0, 0) !important;
  height: 1px !important;
  width: 100% !important;
  opacity: 0.6 !important;
}

.articlesWidth {
  width: 28% !important;
}
.articlesWidth2 {
  width: 10% !important;
}

.articleTitle {
  margin-bottom: 20px;
}
/* end of the article section */
/* start of the video section */
.noPM {
  margin: 0 !important;
  padding: 0 !important;
}
.videoSec1 {
  background-color: black;
}
.videoSec1 a,
.videoSec3 a {
  color: white;
}

.videoSec1 a:hover,
.videoSec3 a:hover {
  color: white;
}
.videoSec1 > * {
  margin-bottom: 30px;
  color: white;
}

.videoSec1 {
  padding: 50px 0;
}
.videoLinks > * {
  margin: 0 15px;
}

.videoSec3 > div > * {
  height: 550px;
}

.videoSec3 img {
  height: 550px;
  width: 100%;
}

.videosec3-1 > div > * {
  padding: 0 30px;
}

.videosec3-1 {
  background-color: black;
}
/* end of the video section */
/* start of the subscribe section */
#subscribeSec img {
  height: 300px;
  width: 100%;
  filter: brightness(60%);
}
#subscribeSec > div > div > div > input {
  outline: 0;
  border-width: 0 0 1px;
  border-color: rgb(0, 0, 0);
}

#subscribeInput * {
  margin: 15px 0;
}
#subscribeInput > div {
  padding: 0 30px;
}
#subscribeInput p {
  padding-right: 50px;
}

/* end of the subscribe section */

@media screen and (max-width: 963px) {
  .owlDiv,
  .owlDiv img {
    height: 290px;
  }
  #cRecepies p {
    width: 200px;
  }
  .afiSpace {
    margin: 10px 20px;
  }
  .articles img {
    object-fit: cover;
    height: 250px;
    width: 100%;
  }
  .articlesWidth {
    width: 50% !important;
  }
  .articlesWidth2 {
    width: 50% !important;
  }
  .videoSec3 > div > * {
    height: 300px;
  }

  .videoSec3 img {
    height: 300px;
    width: 100%;
  }
}
