{% extends 'index.html' %} {% load static %} {% block content %}

<p id="currentSeason"></p>
<section class="section_kat" style="margin: 90px 0 50px 0">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-6 col-lg-5 d-flex justify-content-center align-items-center">
        <h3 class="display-4 fw-bold text-sm-start text-md-end">My History</h3>
      </div>
      <div class="col-sm-12 col-md-6 col-lg-6 offset-lg-1 text-start">
        <p class="noFont">
          I learned programming as a market need for more professional services, more experts, more professional knowledge. What i have been doing for 9 years is preparing programmers, designers,
          marketers and engineers, who cannot be replaced by artificial intelligence, as well as helping institutions with specialized digital services such as: software solutions, marketing &
          consulting .
        </p>
      </div>
    </div>
  </div>
</section>
<section class="section_kat mt-lg-4" style="margin: 50px 0">
  <div class="container">
    <div class="row mt-lg-1 d-flex">
      <div class="col-sm-12 col-md-6 order-md-2 offset-lg-1 col-lg-5">
        <h3 class="display-4 fw-bold text-start">My mission</h3>
      </div>
      <div class="col-sm-12 col-md-6 col-lg-6 order-sm-2 order-md-1 text-start">
        <p class="noFont">
          My mission is to create competitive advantages for businesses or individuals in particular. Expertise allows me to immediately determine what your business or career needs, giving you better
          access to market opportunities.
        </p>
      </div>
    </div>
  </div>
</section>
<section class="section pb-0 position-relative" style="margin: 70px 0">
  <div class="gray_layer position-relative">
    <img src="/static/media/icons/about.jpg" class="img-fluid oferta_img w-100" alt="Filozofia Ime" style="height: 500px; object-fit: cover; filter: brightness(40%)" />
  </div>
  <div class="row position-absolute top-50 start-50 translate-middle">
    <div class="text-center text-light">
      <h3 class="display-3 fw-bold text-light">My filosophy</h3>
      <p class="mb-0 h5 noFont">I am are here for you! I will help you achieve your goals and at the same time develop your business...</p>
    </div>
  </div>
</section>
<section class="section_kat section" style="margin: 70px 0">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-6 col-lg-5">
        <h3 class="display-4 fw-bold text-sm-start text-md-end">The vision</h3>
      </div>
      <div class="col-sm-12 col-md-6 col-lg-6 offset-lg-1 text-start">
        <p class="noFont">
          My vision is to be an elite programmer in the country and in the region, being the first choice for customers, while contributing to the professional preparation of the new
          generation for the labor market.
        </p>
      </div>
    </div>
  </div>
</section>

{% endblock %}
