<!DOCTYPE html>
{% load static %}

<!-- start of footer -->

<div class="container-fluid" id="footer">
  <footer class="py-3 my-4">
    <ul class="nav justify-content-center border-bottom pb-3 mb-3">
      <li class="nav-item">
        <a href="{% url 'home' %}" class="nav-link px-2 footer-link">Home</a>
      </li>
      <li class="nav-item">
        <a href="{% url 'contact' %}" class="nav-link px-2 footer-link">Contact</a>
      </li>
      <li class="nav-item">
        <a href="{% url 'about' %}" class="nav-link px-2 footer-link">About</a>
      </li>
    </ul>
    <p class="text-center nav-link">© 2022 Dengu, Inc</p>
  </footer>
</div>

<!-- start of footer -->
