{% extends 'index.html' %} {% load static %} {% block content %}
<!-- start of single item -->
<p id="currentSeason"></p>
<div class="container-fluid">
  <div class="row">
    <!-- start of sidebar -->
    <!-- end of sidebar -->
    <!-- start of item photo and info -->
    <div class="col-12" id="itemsContainer">
      <div class="row"  style="min-height: 700px;">
        {% for item in searched_items %}
        <div class="col-6 col-xl-3" style="margin-bottom: 20px">
          <div class="card itemsCard">
            <a href="../../item/{{item.product_id}}"><img class="card-img-top" src="{{ item.product_image.url }}" alt="Card image cap" /></a>
            <div class="card-body itemsIcon">
              <h5 class="pName">{{ item.product_name }}</h5>
              <div class="itemsIcon2">
                <h5 class="pName noFont">${{ item.product_price }}</h5>
                {% if item.product_season == 'SPRING' %}
                <i class="fa-brands fa-envira"></i>
                {% elif item.product_season == 'SUMMER' %}
                <i class="fa-solid fa-sun"></i>
                {% elif item.product_season == 'AUTUMN' %}
                <i class="fa-brands fa-canadian-maple-leaf"></i>
                {% elif item.product_season == 'WINTER' %}
                <i class="fa-regular fa-snowflake"></i>
                {% endif %}
                {% if user.is_authenticated %}
                {% if item.product_quantity == 0 %}
                <i class="fa-solid fa-xmark update-cart" data-product="{{item.product_id}}" data-action="add" style="font-size: larger; color: red;"></i>
                {% else %}
                <i class="fa-solid fa-plus update-cart" data-product="{{item.product_id}}" data-action="add" style="font-size: larger"></i>
                {% endif %}
                {% endif %}
              </div>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
      <div class="row paginatorRow">
        <div class="col-12 paginatorCol">
          <nav aria-label="Page navigation example">
            <ul class="pagination">
              {% if searched_items.has_previous %}
              <li class="page-item"><a class="page-link" href="?page=1&searchBar={{ searchBar }}">&laquo</a></li>
              <li class="page-item"><a class="page-link" href="?page={{ searched_items.previous_page_number }}&searchBar={{ searchBar }}">Previous</a></li>
              {% elif not searched_items.has_previous %}
              <li class="page-item disabled"><a class="page-link" href="#">&laquo</a></li>
              <li class="page-item disabled"><a class="page-link" href="#">Previous</a></li>
              {% endif %}
              <li class="page-item disabled">
                <a class="page-link" href="">Page {{ searched_items.number }} of {{ searched_items.paginator.num_pages }}</a>
              </li>
              {% if searched_items.has_next %}
              <li class="page-item"><a class="page-link" href="?page={{ searched_items.next_page_number }}&searchBar={{ searchBar }}">Next</a></li>
              <li class="page-item"><a class="page-link" href="?page={{ searched_items.paginator.num_pages }}&searchBar={{ searchBar }}">&raquo</a></li>
              {% elif not searched_items.has_next %}
              <li class="page-item disabled"><a class="page-link" href="#">Next</a></li>
              <li class="page-item disabled"><a class="page-link" href="#">&raquo</a></li>
              {% endif %}
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- end of single item -->
{% endblock %}
